<div id="elem1">
 	<h2>заголовок</h2>
	<p>текст</p>
	<p>текст</p>
</div>
<div id="elem2">
 	<h2>заголовок</h2>
	<p>текст</p>
	<p>текст</p>
</div>
<div id="elem3">
 	<h2>заголовок</h2>
	<p>текст</p>
	<p>текст</p>
</div>


Покрасьте содержимое блока elem1 в красный цвет, блока elem2 - в
зеленый, а блока elem3 - в голубой.


#elem1 {color: red;}
#elem2 {color: green;}
#elem3 {color: blue;}
