img{
    width: 10%;
    height: 10%;
}
table{
width: 300px;
}
th{
text-align: left;
}
td{
text-align: center;
}
p {
width: 300px;
text-align: justify;
}

.td1, .cursiv {
color: red;
font-style: italic;
}
#tab1, #tab1 tr td { border: 2px solid blue;}

img:hover{
    width: 30%;
    height: 30%;
}